@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
      --background: 0 0% 100%;
--foreground: 20 14.3% 4.1%;
--muted: 60 4.8% 95.9%;
--muted-foreground: 25 5.3% 44.7%;
--popover: 0 0% 100%;
--popover-foreground: 20 14.3% 4.1%;
--card: 0 0% 100%;
--card-foreground: 20 14.3% 4.1%;
--border: 20 5.9% 90%;
--input: 20 5.9% 90%;
--primary: 118 54% 40%; /* سبز تیره لوگو پیستاط */
--primary-foreground: 0 0% 100%;
--secondary: 118 30% 92%; /* سبز بسیار روشن */
--secondary-foreground: 118 54% 25%;
--accent: 118 54% 40%;
--accent-foreground: 0 0% 100%;
--destructive: 0 84.2% 60.2%;
--destructive-foreground: 60 9.1% 97.8%;
--ring: 118 54% 40%;
--radius: 0.5rem;
  }
  .dark {
      --background: 240 10% 3.9%;
--foreground: 0 0% 98%;
--muted: 240 3.7% 15.9%;
--muted-foreground: 240 5% 64.9%;
--popover: 240 10% 3.9%;
--popover-foreground: 0 0% 98%;
--card: 240 10% 3.9%;
--card-foreground: 0 0% 98%;
--border: 240 3.7% 15.9%;
--input: 240 3.7% 15.9%;
--primary: 118 54% 40%; /* سبز تیره لوگو پیستاط */
--primary-foreground: 0 0% 100%;
--secondary: 118 20% 15%; /* سبز تیره برای حالت شب */
--secondary-foreground: 118 30% 85%;
--accent: 118 54% 40%;
--accent-foreground: 0 0% 100%;
--destructive: 0 62.8% 30.6%;
--destructive-foreground: 0 0% 98%;
--ring: 240 4.9% 83.9%;
--radius: 0.5rem;
  }

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    direction: rtl;
  }
}

@layer utilities {
  /* راست‌چین کردن راحت‌تر اجزای مختلف */
  .rtl {
    direction: rtl;
    text-align: right;
  }
  
  .ltr {
    direction: ltr;
    text-align: left;
  }
  
  /* تنظیمات برای چینش عناصر در محیط راست‌چین */
  .margin-end {
    margin-left: 0;
    margin-right: auto;
  }
  
  .margin-start {
    margin-left: auto;
    margin-right: 0;
  }

  /* مخفی کردن اسکرول بار */
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* Safari and Chrome */
    -ms-overflow-style: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}